@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />


<div  class="jumbotron">
    <h1>Bienvenido a la pagina de tours mas grande del mundo.</h1>
    
</div>

<p style="position:center"><a href="/TOURS/Index" class=" button buttonGlow">Haz click para ver los tours &raquo;</a></p>

