@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />


<div class="jumbotron">
    <h1>Bienvenido a la pagina de tours mas grande del mundo.</h1>
    <p style="padding-left: 10px"><a href="/TOURS/Index" class=" button buttonGlow">Haz click para ver los tours &raquo;</a></p>
</div>

<br />
<br />

<div class="jumbotron-1" style="margin:auto">
    <div class="container-carrusel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="padding-left: 250px;">
                    <img src="~/Images/WhatsApp Image 2022-04-10 at 9.53.04 PM.jpeg" alt="imagen1" class="imagen">
                </div>
                <div class="item" style="padding-left: 250px;">
                    <img src="~/Images/WhatsApp Image 2022-04-10 at 9.53.03 PM.jpeg" alt="imagen2" class="imagen1">
                </div>
            </div>

            <!-- Controls -->
            <a class=" left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8" style=" padding-left: 400px;">
        <iframe width="400" height="400" src="https://www.youtube.com/embed/IxLcMz0aUQM" title="YouTube video player" frameborder="0" allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-10 jumbotron">
        <h2>SERVICIO AL CLIENTE</h2>
        <p>Para consultas sobre eventos, contáctenos vía whatsapp al teléfono 8993-7645, vía correo electrónico a servicio-cliente@mybandtour.com, en un horario de 8:00 a.m. a 5:00 p.m.</p>
    </div>
</div>

