@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Band Tour</h1>
    <p class="lead">Bienvenido a la pagina de lista de tours mas grande del mundo.</p>
    <p><a href="~/Views/TOURS/Index.cshtml" class="btn btn-primary btn-lg">Haz click para ver los tours &raquo;</a></p>
</div>

<div class="jumbotron">
    <p class="lead">Aqui puede ir un carousel.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>Aqui puede ir informacion de paises de tours.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Aqui puede ir informacion de paises de bandas.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>sino esto se puede cambiar por algo cool como un API.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ir &raquo;</a></p>
    </div>
</div>