
body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

.stars, .twinkling {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.button {
    width: 150px;
    height: 250px;
    cursor: pointer;
    float: left;
    margin: 15px;
    text-align: center;
}


.buttonGlow {
    border-radius: 5px;
    font-weight: 400;
    color: #00c7ec;
    background-color: #012839;
    height: 75px;
    width: 200px;
    border: 1px solid #00c7ec;
    transition: all 0.2s ease-out;
    position: center;
    animation: glow 2s ease-in infinite;
}

    .buttonGlow:hover {
        background-color: #00c7ec;
        color: #fff;
        border-color: #00c7ec;
        transition: all 0.2s ease-in;
    }

    .buttonGlow:active {
        top: 1px;
    }

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}